.welcome-container {
  text-align: center;
  padding: 60px 20px;
  max-width: 760px;
  margin: 0 auto;
  padding-top: 250px;
}

.welcome-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
}

.welcome-text {
  font-size: 20px;
  margin-bottom: 12px;
  color: #444;
}

.welcome-count {
  margin: 30px 0 20px;
  font-size: 18px;
}

.link-consultas {
  text-decoration: none;
  font-weight: 600;
}

.link-consultas:hover {
  text-decoration: underline;
}

.btn-agendar {
  background-color: #111;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-agendar:hover {
  background-color: #333;
  transform: scale(1.05);
}

body{
  color: #444;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f2f2f2; /* ou a cor que você quiser */
}











.info-extra {
  font-size: 20px;
  text-align: left;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.info-extra h2 {
  margin-top: 20px;
  color: #535bf2;
  font-size: 20px;
  font-weight: 600;
}

.info-extra p {
  margin: 6px 0;
  color: #444;
}

.info-extra ul {
  padding-left: 20px;
  margin: 10px 0;
}

.info-extra li {
  margin-bottom: 8px;
  color: #555;
}

#ie_1{
  text-align: center;
}

.container_ie{
  display: flex;
  flex-direction: row;
}


.section_ie1{
  margin-right: 240px;
}

.section_ie2{
  text-align: center;
}